{% extends "base.html" %}
{% block content %}

<center>
    <h1>Order Lists:</h1>
<table>
            <tr>
                <td>Order Date</td>
                <td>Product Name</td>
                <td>Order Number</td>
                <td>Supplier Name</td>
            </tr>
            {% for i in order %}

            <tr>
                <td>{{i.date}}</td>
                <td>{{i.prod_name}}</td>
                <td><a href="order/{{i.order_no}}">{{i.order_no}}</a></td>
<!--                <form action="./supp">-->
<!--                    <input type="text" hidden name="abc" value="{{i.inv_no}}">-->
<!--                    <td><button type="submit">{{i.inv_no}}</button></td>-->
<!--                </form>-->
                <td>{{i.supp_name}}</td>
            </tr>

           {% endfor %}

        </table><br><br>
    <form action="cancel" method="post">
        {% csrf_token %}
            <button type="submit">Home</button>
    </form><br><br>
</center>
{% endblock content %}